*{margin: 0;padding: 0;}
div,dl,dt,dd,form,h1,h2,h3,h4,h5,h6,img,ol,ul,li,table,th,td,p,span,a{border:0;}
img,input,select{border:none;vertical-align:middle;}
body{font-family:"Microsoft Yahei","SimSun";color: #3c3c3c}
.nav i{
	
}
.span3 ul{
	/*width: 258px;*/
	border: 1px solid #e5e5e5;
	/*margin-left: 100px*/
}
.bs-docs-sidenav{
	border-radius: 6px 6px 0px 0px;
}
.row{
	/*margin-top: 80px;*/
}
.footer{
	text-align: center;
}
.displaybox{
	width:  auto;
	height: 800px;
	background-color: #fff;
	border: 2px solid;
}
#marrow li{
	line-height: 30px;
	letter-spacing: 2px;
}
.para{
	border: 1px solid  	#d6d6d6;
	border-radius: 10px;
	font-size: 12px;
	line-height: 20px;
	letter-spacing: 1px;
	padding: 10px;
	background-color: #f2f2f2;
	margin-bottom: 10px;
}
td span{
	color: #adadad;
	font-size:12px; 
}
p{
	text-indent: 30px;
}
h4{
	text-align: center;
}
pre {
	white-space: pre-wrap;
	white-space: -moz-pre-wrap;
	white-space: -pre-wrap;
	white-space: -o-pre-wrap;
	word-wrap: break-word;
}
/*Introduction yourself*/
.row-fluid .userInfo{
	height: 300px;
	border: 1px solid #cacaca;
	border-radius: 6px 6px 0px 0px;
}
.row-fluid .userInfo .title{
	border-bottom: 1px solid #cacaca;
	text-align: center;
	height: 25px;
	line-height: 25px;	
}
.row-fluid .userInfo .title .icon-user{
	height: 19px;
	width: 19px;
	background-position: -168px 2px;
}
.row-fluid .userInfo .usercon{
	padding: 25px;
}
.row-fluid .userInfo .usercon .userimg:hover{
	cursor: pointer;
}
.row-fluid .userInfo .usercon .userimg .useredit{
	display: none;
	position: absolute;
	top: 250px;
	background-image: url(../img/imgshow_bg.png);
	width: 160px;
	
	text-align: center;
}
.row-fluid .userInfo .usercon .userimg .useredit a{
	color: #fff;
	text-decoration: none;
}
.row-fluid .userInfo .usercon .userimg .useredit:hover{
	text-decoration: underline;
}
.row-fluid .userInfo .usercon  .username{
	text-align: center;
}
.row-fluid .userInfo .usercon  .username .nickname{
	color: #81a7b9
}
.row-fluid .userInfo .usercon .btngroup{
	margin-top: 20px;
}
.row-fluid .hotcolumn{
	
}
/*个人资料板块的样式*/
.btngroup .messageblink{
	text-decoration: none;
	color: #fff;
}